exportPattern("^[[:alpha:]]+")
importFrom("utils", "install.packages")
import("pacman")
import("zip")
import("openxlsx")
import("readxl")
import("writexl")
import("RcppRoll")
import("plyr")
import("stringi")
import("feather")
import("RODBC")
import("MASS")
import("car")
import("data.table")
import("tidyverse")
import("lubridate")
import("janitor")
import("digest")
import("tables")
import("zoo")
export("RunGenerating")
